---
import Heading from "../ui/Heading.astro";
import katie from "@/assets/avatar.jpeg";
import Link from "../ui/Link.astro";
---

<section aria-label="Connect with Katie" class="blog-bio container">
  <img src={katie.src} alt="Katie Haus" />
  <div>
    <Heading tagName="h2" tagSize="h2">Hey! I'm Katie.</Heading>
    <p>
      I like to write about web development, design, productivity, and working
      with clients. Get a sense of what it's like to work with me and understand
      my process.
    </p>
    <Link href="/#connect">Let's Connect</Link>
  </div>
</section>
