<footer>
  <p>
    &copy; <span id="copyright">2020</span> Katie Haus. All rights reserved. I'm
    a skilled web developer passionate about creating innovative and user-friendly
    websites.
  </p>
</footer>

<script>
  const copyrightSpan = document.querySelector(
    "#copyright"
  ) as HTMLSpanElement | null;

  // if (!copyrightSpan) return;

  copyrightSpan
    ? (copyrightSpan.textContent = new Date().getFullYear().toString())
    : null;
</script>
