---
//types
import type { HTMLAttributes } from "astro/types";

//styles
import "@/styles/global.css";

interface LinkProps extends HTMLAttributes<"a"> {
  href: string;
  variant?: "primary" | "secondary" | "ghost" | "icon";
}

const { href, variant = "primary", ...rest } = Astro.props as LinkProps;
---

<a href={href} class:list={["link", variant]} {...rest}>
  <slot />
</a>
